{% extends "template.html" %}
{% block content %}
        <!-- Content -->
        <section>

                <form><h3>New User? Register Below!</h3>
                    <input type="email" required placeholder="Email Address"><br>
                    <input type="text" required placeholder="Username"><br>
                    <input type="password" required placeholder="Password"><br>
                    <input type="password" required placeholder="Confirm Password"><br>
                    <input type="submit" value="Register">
                </form>

                <form><h3>Existing User? Login Here!</h3>
                    <input type="text" required placeholder="Username"><br>
                    <input type="password" required placeholder="Password"><br>
                    <input type="submit" value="Login">
                </form>

                {{ TemplateVar }}

        </section>
{% endblock %}